/Code/Solutions/OpenSpaceTycoon2015/OSTData.tst/bin/
/Code/Solutions/OpenSpaceTycoon2015/OSTData.tst/obj/
/Code/Solutions/OpenSpaceTycoon2015/OSTData/bin/
/Code/Solutions/OpenSpaceTycoon2015/OSTData/obj/
/Code/Solutions/OpenSpaceTycoon2015/packages/
/Code/Solutions/OpenSpaceTycoon2015/.vs
